.food-munch-logo {
    width: 60px;
    height: 60px;
}

#navItem1 {
    color: black;
}

#navItem2 {
    color: black;
}

#navItem3 {
    color: black;
}

#navItem4 {
    color: black;
}

.banner-section {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Roboto;
}

.banner-paragraph {
    font-size: 20px;
}

.Viewbtn {
    background-image: linear-gradient(#d0b200, #a58d00);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.Orderbtn {
    background-color: transparent;
    color: orange;
    border-style: solid;
    border-color: #d0b200;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
}

.wcu-heading {
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
}

.wcu-paragraph {
    color: #5a7184;
}


.card {
    border-radius: 12px;
    color: #5a7184;

}

.wcu-card-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;

}


.wcu-card-heading {
    font-size: 24px;

}

.offer {
    font-weight: bold;
}



.explore-heading {
    font-weight: bold;
    font-family: Roboto;
    font-size: 26px;

}


.explore-card {
    border-radius: 25px;
}


.menu-item-image {
    border-radius: 12px;
}



.explore-card-heading {
    font-size: 18px;
}

.explore-link {
    color: #d0b200;
}


.healthy-section-heading {
    font-size: 30px;
}


.healthy-section-paragraph {
    color: #5a7184;
}

.healthy-section-btn {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    padding: 10px;
    border-radius: 12px;
    border-style: solid;
    border-color: transparent;
}

.delivery-and-payment-heading {
    font-size: 26px;
    font-weight: bold;
}

.delivery-and-payment-btn {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: #fff;
    padding: 18px;
    border-radius: 12px;
}

.payment-card-img {
    width: 60px;
    height: 60px;
    padding: 12px;
}

.thanking-section-container {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-section-heading {
    font-size: 23px;
    font-family: Roboto;
    font-weight: bold;
}

.thanking-section-paragraph {
    color: #5a7184;
}

.thanking-customers-section-img {
    width: 300px;
}

.thanking-btn {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: #fff;
    padding: 12px;
    border-radius: 12px;
    border-color: transparent;
}

.follow-container {
    font-size: 40px;
    background-color: #faf7e8;
    border-radius: 50%;
    padding: 20px;
}

.follow-heading {
    font-size: 29px;
    font-weight: bold;
    font-family: "Roboto";
}

.icon {
    color: #d0b200;
}

.footer-section {
    background-color: #0d2436;
    color: #959ead;
    font-family: Roboto;
    font-weight: bold;
}


.footer-img {
    width: 70px;
    height: 70px;
}

.footer-location {
    font-size: 15px;
}